.vs
eShop/bin
eShop/obj/Debug
eShop/obj/Release/
eShop/eShop.csproj.user
eShop/Properties/PublishProfiles/
eShop/Properties/ServiceDependencies/
eShop/Properties/serviceDependencies.eshop-db-cawa-001 - Web Deploy.json
eShop/Properties/serviceDependencies.eshop-db-cawa-001 - Web Deploy.json.user
eShop/Properties/serviceDependencies.json

